body {
    background-color: black;
    color: white;
}

h1 {
    color: red;
}

p {
    font-size: 18px;
}

button {
    padding: 6px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
}