body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.nav {
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: black;

}

.nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav ul li {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav a {
    color: white;
    padding: 5px;
}

.intro-section {
    height: 500px;
    width: 100vw;
    display: flex;
    background-image: url(bg1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.inner-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.553);

    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.intro-section h3 {
    margin: 1px;
    font-size: 35px;
    color: white;
}