.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    background-color: rgb(47, 129, 131);
    /* justify-content: space-between; */
}

.nav ul li {
    list-style-type: none;
    padding: 8px;
}

.nav ul li a {
    color: white;
}

.intro-row {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
}

.intro {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.intro-img {
    border-radius: 50% / 30%;
    /* border-radius: 40%; */
}

.intro h3 {
    font-size: 35px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 10px 0px 0px;
}

.middle {
    font-weight: 600;
}

.intro h1 {
    font-size: 35px;
    /* font-weight: 200; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0 10px 0;
}

.dreams {
    text-decoration: underline;
    text-decoration-color: rgb(47, 129, 131);
    font-size: 40px;
}

.intro p {
    color: grey;
}

.explore-row {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    justify-content: space-between;
    align-items: center;
}

.explore-row button {
    width: 110px;
    height: 30px;
    border: none;
    padding: 4px 8px 4px 8px;
    color: white;
    background-color: rgb(47, 129, 131);
    border-radius: 10px;
}

.vertical-line {
    height: 50px;
    border-right: 1px solid grey;
}

.explore-row a {
    color: grey;
}

.stats-row {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat-values h1 {
    font-size: 25px;
    margin: 5px 0 5px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.stat-values p {
    color: grey;
    font-size: 12px;
    margin: 5px 0 5px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}